<div class="container">
    <div class="row">
        <div class="col">
            <nav id="navScroll">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#projects">Projects</a>
                    </li>
                  </ul>
            </nav>
        </div>
    </div>
</div>
